// Variablaes
$white: rgb(255, 255, 255);
$black : hsl(0, 0%, 11%);
$black_for_header: hsl(0, 0%, 19%);
$light_black: hsl(0, 0%, 33%);
$gray: hsl(0, 0%, 90%);
$light_gray: hsl(0, 0%, 95%);


// Fonts
@font-face {
    font-family: Open_sans;
    src: url(/fonts/Open_Sans/OpenSans-Regular.ttf);
}

@font-face{
    font-family: Ubuntu;
    src: url(/fonts/Ubuntu/Ubuntu-Regular.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(/fonts/Roboto/Roboto-Regular.ttf);
}

// Global Selectors
html{
    font-size: 10px;
}
*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $black;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}
body{
    background: $light_gray;
    font-family: Open_sans, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



.container{
    width: 85%;
    margin: 0 auto;
}

//Mixins

@mixin center_by_flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

// Global Selection For this Project

.logo{
    letter-spacing: -3px;
    font-size: 2.4rem;
    font-family: Ubuntu;
}

.heading{
    font-size: 2.4rem;
    color: $black;
}







// components for this project
.component_heading{
    font-size: 2.5rem;
    font-weight: 900;
    color: $black;
    //letter-spacing: -1px;

}

.component_project{
    display: block;
    background: $white;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 1px 2px 4px 0px grey;
    transition: 300ms;

    &:hover{
        box-shadow: 4px 5px 11px 0px #797979;
    }

        .project_img{
            width: 100%;
    
            img{
                width: 100%;
                background-repeat: no-repeat;
                background-size: cover;
    
            }
        }
        .project_description{
            width: 100%;
            h2{
                display: block;
                font-size: 2.4rem;
                color: $black;
                padding: .4em;
                font-weight: 500;
            }
            p{
                padding: 0 .5em .5em .5em;
                text-align: left;
                font-size: 1.6rem;
                color: $light_black;
            }
        }
    

    
    
}


// Code for svg icon


svg{
    transition: transform 400ms ease-in-out;
    transform: rotate(0);

    &:hover{
        transform: rotate(-360deg);
     }
     &.fa-facebook{
         path{
             color: $black_for_header;
             
         }
     }
     &.fa-github{
         path{
             color: $black_for_header;
         }
     }
     &.fa-twitter{
         path{
             color: $black_for_header;
         }
     }
     &.fa-at{
         path{
             color: $black_for_header;
         }
     }
}








// First Page





// Code For Navigation, Code For Header
    
    
header{
    background: white;
    color: $black_for_header!important;
    font-size:1.4rem;
    padding: 3vh 0;
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 9999;
    box-shadow: 1px -3px 20px 0px hsla(0, 0%, 11%, 0.478);
}
    
header .container{
    display: flex;
    flex-direction: column;
}
.logoAndIcon{
    display: flex;
    justify-content: space-between;
}
.navbar_link > a{
    color: hsl(0, 0%, 19%) !important;
}
.logo{
    font-size: 2.8rem;
    align-items: center;
}
.navbar_toggle{
    font-size: 2.8rem;
    align-self: center;
    .fa-bars{
        transform: rotate(0);
    }
}
.navbar_items_social{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 1.5rem;
    font-size: 2.7rem;


    // & .navbar_link .fa-github{
    //     path{
    //         color: black;
    //     }
    // }
}



.div_items{
    display: none;
    padding-top: 1rem;
}
.navbar_items_first li > a{
    padding: .9em .4em;
    border-bottom: 1px solid rgb(219, 219, 219);
    display: block;
    transition: 300ms;
    font-size: 2rem;
}
.navbar_items_first li > a:hover{
    background: rgba(197, 197, 197, 0.281);
    
}

.nav_show{
    display: initial;
}







// Home Section Starts From Here , Code For Home

.home{
    background: $black;
    height: 100vh;
    min-height: min-content;
    color: $gray;
    

    .home_div{
    padding-top: 15vh;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 2;
        .heading{
            color: $white;
        }
        .home_subHeading{
            font-size: 1.2rem;
            color: $gray;
        }
    }

    .div_social_media{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.9em;
        padding-top: 20px;
        svg{
            font-size: 3rem;
            transition: transform 400ms ease-in-out;
            transform: rotate(0);
            &:hover{
               transform: rotate(-360deg);
            }
            &.fa-facebook{
                path{
                    color: hsl(0, 0%, 100%);
                    
                }
            }
            &.fa-github{
                path{
                    color: rgb(255, 255, 255);
                }
            }
            &.fa-twitter{
                path{
                    color: hsl(0, 0%, 100%);
                }
            }
            &.fa-at{
                path{
                    color: rgb(255, 255, 255);
                }
            }
        }
        
    }
    .home_img{
        width: 8rem;
    }
    .div_scroll{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        
        .scroll_text{
            font-size: 1.4rem;
            padding-bottom: .5em;
            color: $light_gray;
        }
        svg{
            font-size: 2rem;
            path{
                color: white;
            }
            animation: scroll_animation 1000ms linear infinite;
        }
    }
}

@keyframes scroll_animation {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(20px);
    }
    100%{
        transform: translateY(0px);
    }
}







// About Me section Starts From Here


.div_about_me{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-between;
    align-items: center;
    padding-top: 10em;
    padding-bottom: 10em;
    gap: 20px;


    .about_me_imgAndText{
        @include center_by_flex();
        flex-direction: column;
        
        img{
            width: 7rem;
            
        }

        .component_heading{
            padding: .5em;
        }

    }

    .div_about_me_text{
        background: $white;
        border-radius: 1em;
        box-shadow: 1rem 1.2rem 0px 0px #717171;
        font-size: 1.8rem;
        
        p{
            padding: 1em;
            color: $light_black;
        }
        .read_in_details{
            color: hsl(189, 97%, 37%);
            &:hover{
            color: hsl(189, 100%, 47%);
            text-decoration: underline;
            }
        }
    }
}






// About Me in Details Section , code for about me in details






.about_me_in_details{
    background: $light_gray;
    width: 100%;
    // max-width: 100vw;
    z-index: 100;
    // position: absolute;
    // top: 10vh;
    .about_me_header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.5em 0 .4em 0;
        margin-bottom: 1em;
        border-bottom: 1px solid $light_black;
        font-size: 3.4rem;
        color: $light_black;
        
    }
    svg{
        font-size: 3.4rem;
        &:hover{
            transform: rotate(0deg);
        }

        path{
            color: $light_black;
        }
    }


    .heading{
        color: $light_black;
        font-size: 3.4rem;
    }
    p{
        font-size: 1.8rem;
        color: $light_black;
        padding-bottom: 1.3em;
        line-height: 3rem;
    }



}





.display_hide{
    display: none;
}



















// Project Section Starts From Here


.section_project{

     background: $white;
    padding: 1em;
    padding-bottom: 3em;

    .component_heading{
        margin-bottom: 30px;
    }


    .div_project{
        text-align: center;
        span{

            color: $black;
        }


        .all_projects{
        margin-top: 30px;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 50px 0;
           

            
        }
        
    }


}








// Footer sectin starts From here




footer{
    background: $black;
    color: white;
    .footer_div{
        text-align: center;
        font-size: 1.2rem;
        padding: .5em 0;
        p{
            color: $light_gray;
            span{
                color: hsl(0, 0%, 67%);
            }
        }
    }
}



// Css for custom scrollbar

::-webkit-scrollbar {
    width: 13px;
    height: 13px;
   }
::-webkit-scrollbar-thumb {
    background-color: $light_black;
    transition: 300ms;
    border-radius: 10px;
    &:hover{
        transition: 300ms;
        background-color: $black;
    }
}

   
::-webkit-scrollbar-track{
    background: #e6e6e6;
    border-radius: 10px;
    box-shadow: inset 7px 10px 12px #f0f0f0;
}



















// Media quires



@media (min-width: 0px) and (orientation: landscape){
    .home .container{
        @include center_by_flex();
        flex-direction: column;
        
    }
    .div_scroll{
        position: initial !important;
        bottom: initial !important;
        left: initial !important;
        transform: initial !important;
        padding-top: 20vh;
        padding-bottom: 50px;
        align-items: center;
        justify-content: center;
    }

}


@media screen and (min-width: 480px){

    
    
}


@media screen and (min-width: 600px){
    html{
        font-size: 11px;
    }
    .component_project{

        .project_description{

            span{
                font-size: 1.8rem;
            }
        }
    }
    .section_project{

        .div_project{

            .all_projects{
                grid-template-columns:48% 48%;

                justify-content: space-between;
            }
        }
    }
}



@media screen and (min-width: 750px){

    html{
        font-size: 12px;
    }
    .div_about_me{
        grid-template-columns: 30% 65%;
        justify-content: space-between;
    }

}




@media screen and (min-width: 800px){
    html{
        font-size: 14px;
    }


    // This code Is for header Section
    .navbar_toggle{
        display: none;
    }
    header .container{
        flex-direction: row;
    }
    .div_items{
        display: flex;
        margin-left: auto;
        align-items: center;
        justify-content: center;
        padding: 0;
        
    }
    .navbar_items{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navbar_itmes .navbar_link{
        justify-content: center;
        align-items: center;
    }
    .navbar_items_first{
        margin-right: 2rem;
    }
    .navbar_items_first li > a{
        padding: 100% .5em;
        background: rgba(99, 30, 30, 0);
        display: initial;
        border: none;
        font-size: 1.6rem;
    }
    .navbar_items_first li > a:hover{
        background: rgba(197, 197, 197, 0.281);
        color: rgb(255, 255, 255);
    }
    .navbar_items_social{
        font-size: 1.8rem;
        margin: 0;
    }
    .navbar_items_social li > a{
        margin-left: 1rem;
    }
}




@media screen and (min-width: 1024px){
    
    .section_project{

        .div_project{

            .all_projects{
                grid-template-columns: 32% 32% 32%;
            }
        }
    }
}

@media screen and (min-width: 1440px) {
    html{
        font-size: 16px;
    }
}



@media screen and (min-width: 1900px) {
    html{
        font-size: 19px;
    }
}
@media screen and (min-width: 2200px){
    html{
        font-size: 22px;
    }
    
}
@media screen and (min-width: 2500px){
    html{
        font-size: 27px;
    }
}
@media screen and (min-width: 3000px){
    html{
        font-size: 30px;
    }
}
@media screen and (min-width: 3500px){
    html{
        font-size: 31px;
    }
}
@media screen and (min-width: 4000px){
    html{
        font-size: 35px;
    }
}
